<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./agents.component.css">
</head>

<body>
    <div class=" agentsCards">
        <div class="card-group row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/AgentsPictures/Ellipse 19.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title" style="font-size: 12px;">
                            <strong>
                                Name:
                            </strong>
                            Jane Simiyu
                        </p>
                       <hr>
                        <div class="row">
                            <p class="card-title" style="font-size: 12px;">
                                <strong>
                                    Title: <br>
                                </strong>
                                Real Estate Consultant
                            </p>
                            <p class="card-title" style="font-size: 12px;">
                                <strong>
                                    Experience: <br>
                                </strong>
                                8 years
                            </p>
                        </div>
                        <hr>
                        <p class="card-text" style="font-size: 12px;">
                            Passionate about matching businesses with the right space.
                        </p>
                        <a href="#" class="btn btn-primary" style="background-color: black; font-size: 12px; margin-left: 5vw;">Engage Jane </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/AgentsPictures/Ellipse 19(1).png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title" style="font-size: 12px;">
                            <strong>
                                Name:
                            </strong>
                            Jane Simiyu
                        </p>
                       <hr>
                        <div class="row">
                            <p class="card-title" style="font-size: 12px;">
                                <strong>
                                    Title: <br>
                                </strong>
                                Real Estate Consultant
                            </p>
                            <p class="card-title" style="font-size: 12px;">
                                <strong>
                                    Experience: <br>
                                </strong>
                                8 years
                            </p>
                        </div>
                        <hr>
                        <p class="card-text" style="font-size: 12px;">
                            Passionate about matching businesses with the right space.
                        </p>
                        <a href="#" class="btn btn-primary" style="background-color: black; font-size: 12px; margin-left: 5vw;">Engage Jane </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/AgentsPictures/Ellipse 19(2).png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title" style="font-size: 12px;">
                            <strong>
                                Name:
                            </strong>
                            Jane Simiyu
                        </p>
                       <hr>
                        <div class="row">
                            <p class="card-title" style="font-size: 12px;">
                                <strong>
                                    Title: <br>
                                </strong>
                                Real Estate Consultant
                            </p>
                            <p class="card-title" style="font-size: 12px;">
                                <strong>
                                    Experience: <br>
                                </strong>
                                8 years
                            </p>
                        </div>
                        <hr>
                        <p class="card-text" style="font-size: 12px;">
                            Passionate about matching businesses with the right space.
                        </p>
                        <a href="#" class="btn btn-primary" style="background-color: black; font-size: 12px; margin-left: 5vw;">Engage Jane </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/AgentsPictures/Ellipse 19(3).png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title" style="font-size: 12px;">
                            <strong>
                                Name:
                            </strong>
                            Jane Simiyu
                        </p>
                       <hr>
                        <div class="row">
                            <p class="card-title" style="font-size: 12px;">
                                <strong>
                                    Title: <br>
                                </strong>
                                Real Estate Consultant
                            </p>
                            <p class="card-title" style="font-size: 12px;">
                                <strong>
                                    Experience: <br>
                                </strong>
                                8 years
                            </p>
                        </div>
                        <hr>
                        <p class="card-text" style="font-size: 12px;">
                            Passionate about matching businesses with the right space.
                        </p>
                        <a href="#" class="btn btn-primary" style="background-color: black; font-size: 12px; margin-left: 5vw;">Engage Jane </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
