<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./about-us.component.css">
</head>
<body>
    <div class="nextPartButton">
        <button type="button" class="btn btn-light" routerLink="/properties" >Available Properties 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="black"><path d="m12.052 14.829l1.414 1.414L17.71 12l-4.243-4.243l-1.414 1.415L13.88 11H6.343v2h7.537l-1.828 1.829Z"/><path fill-rule="evenodd" d="M19.778 19.778c4.296-4.296 4.296-11.26 0-15.556c-4.296-4.296-11.26-4.296-15.556 0c-4.296 4.296-4.296 11.26 0 15.556c4.296 4.296 11.26 4.296 15.556 0Zm-1.414-1.414A9 9 0 1 0 5.636 5.636a9 9 0 0 0 12.728 12.728Z" clip-rule="evenodd"/></g></svg>
        </button>
    </div>
    <div class="weStrikeAtDawn">
        <div class="row">
            <div class="col">
                <img src="../../assets/01.png" width="600" alt="mission">
            </div>
            <div class="col" id="mission">
                <div class="mission">
                    <div class="row">
                        <div class="col" style="margin-top: -3vw;">
                            <div class="ourMission">
                                <div class="heading">
                                    <h1>
                                        Mission
                                    </h1>
                                </div>
                                <p>
                                    At SecureEstate, our mission is to revolutionize 
                                    the real estate market by providing a central 
                                    platform for property authentication. 
                                    We are committed to ensuring that every 
                                    property transaction is built on trust, 
                                    transparency, and security. 
                                    Our goal is to empower property buyers and 
                                    sellers with the tools and information they 
                                    need to make confident and informed decisions. 
                                    We strive to eradicate property fraud and scams, 
                                    creating a safer and more trustworthy real estate 
                                    ecosystem for all. Join us in our mission to redefine 
                                    the real estate experience.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="secondRow">
            <div class="col" style="float: left;">
                <div class="ourVision">
                    <div class="visionHeading">
                        <h1>
                            Vision
                        </h1>
                    </div>
                    <div class="ourVisionStatement">
                        <p>
                            At SecureEstate, our vision is to become the industry leader
                            in real estate verification and transparency.
                            We envision a future where property transactions are conducted
                            with complete confidence and security. Our commitment to innovation
                            and user-centric solutions drives us to continually enhance our
                            platform, making property fraud a thing of the past.
                        </p>
                        <p>
                            We see a world where property buyers and sellers can engage in
                            transactions with ease, knowing that every listing is verified and
                            trustworthy. Our vision is to set new standards for authenticity in
                            the real estate market, ensuring that every user, from individuals to
                            businesses, can benefit from a transparent and secure real estate
                            experience.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="../../assets/02.png" width="600" alt="" style="margin-top: 6vw; float: right;">
            </div>
        </div>
        <div class="row" style="margin-top: 9vw;">
            <div class="col">
                <img src="../../assets/03.png" width="600" style="margin-top: 18vw;" alt="">
            </div>
            <div class="col" id="values">
                <div class="ourValues">
                    <div class="valuesHeading">
                        <h1>
                            Values
                        </h1>
                    </div>
                    <div class="valuesParagraphs">
                            <ol>
                                <li>
                                    We believe in transparency as the cornerstone of trust. We are committed to providing clear, accurate, and honest information to our users, fostering a culture of openness in every aspect of our business.
                                </li>
                                <li>
                                    Integrity is at the heart of everything we do. We uphold the highest ethical standards, ensuring that our actions align with our words. We prioritize doing what is right, even when no one is watching.
                                </li>
                                <li>
                                    Our users are our top priority. We design our platform with the user experience in mind, striving to make it intuitive, efficient, and effective. We listen to user feedback and continuously improve to meet their needs.
                                </li>
                                <li>
                                    We embrace innovation and creativity. We're not satisfied with the status quo. We push boundaries, explore new solutions, and leverage cutting-edge technology to provide the best property verification experience.
                                </li>
                                <li>
                                    We value collaboration both within our team and with our users. We believe that working together and sharing insights leads to better solutions and a stronger community. We invite you to join us in shaping the future of real estate.
                                </li>
                                <li>
                                    We are dedicated to safeguarding your data and ensuring a secure environment for all users. Your trust is our highest priority, and we take all necessary measures to protect your information.
                                </li>
                                <li>
                                    We believe in constant learning and growth. We are committed to improving our services, expanding our knowledge, and adapting to meet the evolving needs of the real estate market. Our dedication to continuous improvement drives us forward.
                                </li>
                            </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>
